<div class="delivery-container">
  <div class="delivery-header">
    <h1>Доставляємо щастя. Безкоштовно.</h1>
    <h2>9 способів доставки</h2>
  </div>
  <div class="delivery-main">
    <div class="delivery__column">
      <div class="delivery__item-logo">
        <img src="https://u.makeup.com.ua/b/be/besplatno-kurerom-20170201175618.png" border="0"> </div>
      <h3>Курьером MakeUp</h3>
      <p class="location">
        (MakeUp) </p>
      <p class="short">
        Бесплатная доставка заказов нашей курьерской службой в 170 населенных пунктов Украины. Минимальная сумма заказа - от 99 грн.
      </p>
    </div>
    <div class="delivery__column">
      <div class="delivery__item-logo">
        <img src="https://u.makeup.com.ua/s/sa/samovyvoz-20170201180943.png" border="0"> </div>
      <h3>Самовывоз</h3>
      <p class="location">
        (MakeUp) </p>
      <p class="short">
        Наши пункты работают бесплатно во всех основных районах г. Киева, г.Одессе и г. Харькове.
      </p>
    </div>
    <div class="delivery__column">
      <div class="delivery__item-logo">
        <img src="https://u.makeup.com.ua/b/bm/bmohp2galncn.png" border="0"> </div>
      <h3>Доставка из ЕС, 3-5 раб. дней</h3>
      <p class="location">
      </p>
      <p class="short">
        Бесплатно для заказов на сумму от 750 грн, при сумме заказа до 750 грн - доставка курьерской службой MAKEUP- всего 29 грн, доставка до отделений "Новой почты" - 49 грн. Минимальная сумма заказа - 99 грн.
      </p>
    </div>
    <div class="delivery__column">
      <div class="delivery__item-logo">
        <img src="https://u.makeup.com.ua/k/ku/kurerom-po-ukraine-20170201180954.png" border="0"> </div>
      <h3>Курьером по Украине</h3>
      <p class="location">
        (другие перевозчики) </p>
      <p class="short">
        Доставка курьером в течение 1-3 дней. При сумме заказа до 599 грн - доставка всего 39 грн, свыше 599 грн - бесплатно.
      </p>
    </div>
    <div class="delivery__column">
      <div class="delivery__item-logo">
        <img src="https://u.makeup.com.ua/y/yh/yhfp97e35sft.png" border="0"> </div>
      <h3>Meest (Самовывоз)</h3>
      <p class="location">
      </p>
      <p class="short">
        Доставка до пункта компании Meest в течение 1-3 дней. При сумме заказа до 499 грн - доставка всего 29 грн, свыше 499 грн - бесплатно.
      </p>
    </div>
    <div class="delivery__column">
      <div class="delivery__item-logo">
        <img src="https://u.makeup.com.ua/n/no/novaja-pochta-samovyvoz-20170201181915.png" border="0"> </div>
      <h3>Новая почта (Самовывоз)</h3>
      <p class="location">
      </p>
      <p class="short">
        Доставка до отделения "Новая почта" в течение 1-3 дней. При сумме заказа до 599 грн - доставка всего 39 грн, свыше 599 грн - бесплатно.
      </p>
    </div>
    <div class="delivery__column">
      <div class="delivery__item-logo">
        <img src="https://u.makeup.com.ua/b/bc/bctul3eylwav.png" border="0"> </div>
      <h3>Новая почта (Почтомат)</h3>
      <p class="location">
      </p>
      <p class="short">
        Доставка до почтомата "Новая почта" в течение 1-3 дней. При сумме заказа до 599 грн - доставка всего 39 грн, свыше 599 грн - бесплатно.
      </p>
    </div>
    <div class="delivery__column">
      <div class="delivery__item-logo">
        <img src="https://u.makeup.com.ua/r/r6/r61tpq1kyu37.png" border="0"> </div>
      <h3>Justin</h3>
      <p class="location">
      </p>
      <p class="short">
        Доставка в более 500 пунктов выдачи заказов Justin в течение 1-3 дней. При сумме заказа до 499 грн - доставка всего 29 грн, свыше 499 грн - бесплатно.
      </p>
    </div>
    <div class="delivery__column">
      <div class="delivery__item-logo">
        <img src="https://u.makeup.com.ua/u/u2/u27ysajss0hv.png" border="0"> </div>
      <h3>Укрпочта</h3>
      <p class="location">
      </p>
      <p class="short">
        Доставка до отделения "Укрпочта" в течение 1-3 дней. При сумме заказа до 99 грн - доставка всего 29 грн, свыше 99 грн - бесплатно. Минимальная сумма заказа - 49 грн.
      </p>
    </div>
  </div>
</div>
