<div class="article-conteiner">
  <div class="article-header">
    <h1>Cтатті</h1>
  </div>
  <div class="article-main">
    <div class="article">
        <div class="news-list__image"><img src="https://u.makeup.com.ua/9/9d/9dmbwfgv6hqc.jpg" alt="Чек-лист: первое бритье лица. Что к чему?" title="Чек-лист: первое бритье лица. Что к чему?"></div>
        <div class="news-list__header">Чек-лист: первое бритье лица. Что к чему?</div>
        <div class="news-list__description"> В жизни каждого парня происходит момент, когда к нему в руки попадает бритвенный станок. Вне зависимости от возраста, эта процедура расценивается как настоящее...</div>
        <div class="time"><time datetime="18.01.2022">18 января 2022</time></div>
    </div>
    <div class="article">
        <div class="news-list__image"><img src="https://u.makeup.com.ua/h/hm/hm8fcfkqzp0r.jpg" alt="Коллаген: бустер красоты или маркетинговый ход?" title="Коллаген: бустер красоты или маркетинговый ход?"></div>
        <div class="news-list__header">Коллаген: бустер красоты или маркетинговый ход?</div>
        <div class="news-list__description"> Мы живем в такое время, когда отношение к своему телу становится более серьезным и осознанным. И правда, биохакеры со всего мира пытаются «взломать»...</div>
        <div class="time"><time datetime="11.01.2022">11 января 2022</time></div>
    </div>
    <div class="article">
        <div class="news-list__image"><img src="https://u.makeup.com.ua/v/vg/vglizoemgxbt.jpg" alt="Акне у взрослых: лучшие продукты с доказанной эффективностью" title="Акне у взрослых: лучшие продукты с доказанной эффективностью"></div>
        <div class="news-list__header">Акне у взрослых: лучшие продукты с доказанной эффективностью</div>
        <div class="news-list__description"> Прыщики, черные точки и неровный тон — к сожалению, они не проходят вместе с первой любовью и получением аттестата. Они могут перекочевать и во взрослую жизнь...</div>
        <div class="time"><time datetime="04.01.2022">04 января 2022</time></div>
    </div>
    <div class="article">
        <div class="news-list__image"><img src="https://u.makeup.com.ua/p/pz/pzwzm2i8iate.jpg" alt="Новый оттенок Pantone: как начать 2022 красиво" title="Новый оттенок Pantone: как начать 2022 красиво"></div>
        <div class="news-list__header">Новый оттенок Pantone: как начать 2022 красиво</div>
        <div class="news-list__description"> Под конец 2021 года институт цвета Pantone решил сделать нам подарок, объявив новый оттенок лавандового. Знакомьтесь — Very Peri, отождествляющий постоянство, энергию и...</div>
        <div class="time"><time datetime="28.12.2021">28 декабря 2021</time></div>
    </div>
    <div class="article">
        <div class="news-list__image"><img src="https://u.makeup.com.ua/9/9j/9jwampj5h2be.jpg" alt="Новый год: выбираем подарки  для него и для нее" title="Новый год: выбираем подарки  для него и для нее"></div>
        <div class="news-list__header">Новый год: выбираем подарки для него и для нее</div>
        <div class="news-list__description"> До Нового года осталось не так много времени, но его достаточно, чтобы выбрать подарки без излишней спешки. Даже если вы вспоминаете о шоппинге в последний...</div>
        <div class="time"><time datetime="14.12.2021">14 декабря 2021</time></div>
    </div>
    <div class="article">
        <div class="news-list__image"><img src="https://u.makeup.com.ua/c/ch/chlepibl9nj2.jpg" alt="Подарки ко Дню Святого Николая: что положить под подушку" title="Подарки ко Дню Святого Николая: что положить под подушку"></div>
        <div class="news-list__header">Подарки ко Дню Святого Николая: что положить под подушку</div>
        <div class="news-list__description"> Вне зависимости от того, сколько нам лет, каждый год на День Святого Николая мы ожидаем увидеть под подушкой хотя бы маленький подарок. Начните с себя! Побудьте в...</div>
        <div class="time"><time datetime="07.12.2021">07 декабря 2021</time></div>
    </div>
    <div class="article">
        <div class="news-list__image"><img src="https://u.makeup.com.ua/2/2u/2uz0lwujdelj.jpg" alt="Маникюр на Новый год 2022: самые трендовые дизайны" title="Маникюр на Новый год 2022: самые трендовые дизайны"></div>
        <div class="news-list__header">Маникюр на Новый год 2022: самые трендовые дизайны</div>
        <div class="news-list__description"> Выбрать маникюр перед праздниками — еще та задача. Хочется отойти от типичных «новогодних» мотивов и довериться трендсеттерам, которые то и дело задают...</div>
        <div class="time"><time datetime="30.11.2021">30 ноября 2021</time></div>
    </div>
    <div class="article">
        <div class="news-list__image"><img src="https://u.makeup.com.ua/n/nv/nv4nvx2fnsaj.jpg" alt="Фитнес-браслет: почему он вам все-таки нужен" title="Фитнес-браслет: почему он вам все-таки нужен"></div>
        <div class="news-list__header">Фитнес-браслет: почему он вам все-таки нужен</div>
        <div class="news-list__description"> Мы живем во время цифр, когда подсчет калорий, шагов, частоты сердцебиения и многих других значений стал обыденным для многих людей. Порой мы и сами не замечаем...</div>
        <div class="time"><time datetime="23.11.2021">23 ноября 2021</time></div>
    </div>
    <div class="article">
        <div class="news-list__image"><img src="https://u.makeup.com.ua/1/1h/1h7frwutwsyn.jpg" alt="Адвент-календарь: топ-5 развлечений для нетерпеливых" title="Адвент-календарь: топ-5 развлечений для нетерпеливых"></div>
        <div class="news-list__header">Адвент-календарь: топ-5 развлечений для нетерпеливых</div>
        <div class="news-list__description"> В обычной жизни время летит довольно быстро... Ровно до тех пор, пока на горизонте не появляются долгожданные праздники. Период ожидания бывает настолько...</div>
        <div class="time"><time datetime="16.11.2021">16 ноября 2021</time></div>
    </div>
  </div>
</div>
