<div class="layout page-livestream_list">
  <h1 class="page-header">Прямые трансляции</h1>
  <div class="actions">
    <div class="news-item">
      <div class="actions-list">
        <div class="action-item action-item_banner action-item-type_none">
          <a class="action-item__link">
            <img class="action-item__image" loading="lazy" src="https://u.makeup.com.ua/q/qt/qtyg1nzbuowu.jpg" alt="Выбираем подарки с Estee Lauder" title="Выбираем подарки с Estee Lauder">
            <div class="action-item__content">
              <div class="action-item__title">Выбираем подарки с Estee Lauder</div>
              <div class="action-item__desc"> Смотрите наш обзор подарочных наборов от бренда Estee Lauder. </div>
            </div>
            <div class="action-item__footer">
              <div class="action-item__countdown action-countdown">
                Закончен
              </div>
            </div>
          </a>
        </div> <div class="action-item action-item_banner action-item-type_none">
        <a class="action-item__link">
          <img class="action-item__image" loading="lazy" src="https://u.makeup.com.ua/o/om/ombnhnhopjdy.jpg" alt="Сияющий макияж с помощью 5 продуктов " title="Сияющий макияж с помощью 5 продуктов ">
          <div class="action-item__content">
            <div class="action-item__title">Сияющий макияж с помощью 5 продуктов </div>
            <div class="action-item__desc"> Узнайте как создать привлекательный образ с простыми техниками от Bobbi Brown </div>
          </div>
          <div class="action-item__footer">
            <div class="action-item__countdown action-countdown">
              Закончен
            </div>
          </div>
        </a>
      </div> <div class="action-item action-item_banner action-item-type_none">
        <a class="action-item__link">
          <img class="action-item__image" loading="lazy" src="https://u.makeup.com.ua/u/un/unzn69jn6fiw.jpg" alt="Идеи подарков от Clinique!" title="Идеи подарков от Clinique!">
          <div class="action-item__content">
            <div class="action-item__title">Идеи подарков от Clinique!</div>
            <div class="action-item__desc"> Идеальный подарок – тот, который дарит приятные эмоции и приносит пользу! Есть идея: подобрать подарок среди Новогодней коллекции Clinique! </div>
          </div>
          <div class="action-item__footer">
            <div class="action-item__countdown action-countdown">
              Закончен
            </div>
          </div>
        </a>
      </div> <div class="action-item action-item_banner action-item-type_none">
        <a class="action-item__link">
          <img class="action-item__image" loading="lazy" src="https://u.makeup.com.ua/t/tm/tm9gol7bzutu.jpg" alt="Макияж в голубых оттенках" title="Макияж в голубых оттенках">
          <div class="action-item__content">
            <div class="action-item__title">Макияж в голубых оттенках</div>
            <div class="action-item__desc"> Сегодня в прямом эфире, визажистка Яна Аскерова покажет, как сделать макияж в голубых оттенках наступающего года — водяного тигра! </div>
          </div>
          <div class="action-item__footer">
            <div class="action-item__countdown action-countdown">
              Закончен
            </div>
          </div>
        </a>
      </div> <div class="action-item action-item_banner action-item-type_none">
        <a class="action-item__link">
          <img class="action-item__image" loading="lazy" src="https://u.makeup.com.ua/3/3q/3q9aq0iihdsk.jpg" alt="Сияющий новогодний макияж от визажистки @anastasiia_kot" title="Сияющий новогодний макияж от визажистки @anastasiia_kot">
          <div class="action-item__content">
            <div class="action-item__title">Сияющий новогодний макияж от визажистки @anastasiia_kot</div>
            <div class="action-item__desc"> До Нового Года осталось 3 дня, а ты еще не решила, какой макияж сделать в новогоднюю ночь? </div>
          </div>
          <div class="action-item__footer">
            <div class="action-item__countdown action-countdown">
              Закончен
            </div>
          </div>
        </a>
      </div> </div>
    </div>
  </div>
</div>
