<div class="layout page-show_aux_page">
  <h1 class="page-header">BEAUTY CLUB</h1>
  <div class="content">
    <div class="loyalty">
      <div><img class="right" src="/assets/image/1.png" alt="" width="375" height="506">
        <div class="loyalty-wrap">
          <h2>Подарок на день рождения</h2>
          <p>MAKEUP Beauty Club не может пропустить это важное событие! И уже подготовил приятный сюрприз — подарок к вашему дню рождения.</p>
          <p><strong>Что вы получаете:</strong> приятную скидку при оформлении праздничного заказа. Добавляя в корзину позиции на сумму от 200 грн, вы получите скидку в размере 50 грн, а при заказе от 699 грн – 100 грн в подарок. При этом наш Birthday-бонус будет суммироваться с действующими акционными предложениям и другими актуальными скидками. Обратите внимание: подарок не действует для товаров, отправляемых по услуге «Доставка из ЕС»</p>
          <p><strong>Что для этого нужно:</strong> укажите дату рождения в личном кабинете, подтвердите согласие получать соответствующую рассылку в личном кабинете (раздел "Управление подписками") и ожидайте наше поздравительное письмо, а после его получения просто оформите заказ, бонус применится автоматически. Вам также не нужно предъявлять документы во время получения заветной коробочки с заказом — нам достаточно ваших регистрационных данных!</p>
          <div data-popup-handler="popular-question-birthday" data-popup-type="full"><strong>Популярные вопросы</strong></div>
        </div>
      </div>
      <div><img class="left" src="/assets/image/2.png" alt="" width="418" height="706">
        <div class="loyalty-wrap">
          <h2><strong>Специальные цены</strong>&nbsp;<br> <strong>на бренды</strong></h2>
          <p>Раскрываем еще одно секретное оружие! Всех участников MAKEUP Beauty Club ждут специальные скидки на бренды. Используйте членство в клубе для выгодных покупок!.</p>
          <p><strong>Что вы получаете:</strong> более низкие цены на бренды декоративной косметики, ухода и парфюмерии.</p>
          <p><strong>Что для этого нужно:</strong> практически ничего! Теперь вы сможете приобретать бьюти-товары по специальным ценам без накопительной системы. Просто заходите на сайт под вашим логином и паролем, добавьте товар в корзину, а при оформлении заказа вы увидите цены со скидкой.</p>
          <div data-popup-handler="popular-question-prices" data-popup-type="full"><strong>Популярные вопросы</strong></div>
        </div>
      </div>
      <div>
        <h2>Подарок на Новый Год</h2>
        <div class="column">
          <p>Мы отмечаем Новый год по нашим правилам! При оформлении заказа под вашей учетной записью мы запомним дату первого заказа и непременно поздравим вас на годовщину.</p>
          <p><strong>Что вы получаете:</strong> один из предложенных сюрпризов от MAKEUP. Это могут быть аксессуары или другие бьюти-продукты.</p>
        </div>
        <div class="column">
          <p><strong>Что для этого нужно:</strong> просто добавьте в корзину продукты на сумму от 200 гривен, и при оформлении заказа под вашим логином/паролем система предложит вам несколько презентов на выбор. Сюрприз будет доступен в ближайшие 2 недели после годовщины, не забудьте подписаться на наши рассылки, мы напомним об ожидающем вас подарке. Воспользоваться предложением вы сможете однократно. В следующем году вас будет ждать другой сюрприз, поэтому оставайтесь с нами и делайте этот мир еще прекраснее!</p>
        </div>
      </div>
      <div><img class="left" style="margin-top: -3vw;" src="/assets/image/3.png" alt="" width="427" height="463">
        <div class="loyalty-wrap">
          <h2>Акции, скидки и бонусы</h2>
          <p>Любимый тональный крем со скидкой, помада в подарок или акция 1+1=3? Мы постоянно готовим сюрпризы для всех участников MAKEUP Beauty Club. Получайте максимум привилегий и освобождайте место в своих косметичках для новых бьюти-фаворитов!</p>
          <p><strong>Что вы получаете:</strong> все участники клуба получают наш специальный дайджест. Будьте в курсе новых акций и подарков от множества брендов. Получайте рассылку на свой email и выбирайте самые вкусные предложения!</p>
          <p><strong>Что для этого нужно:</strong> укажите свой email в личном кабинете, в разделе "Управление подписками" подтвердите уведомления, которые Вы хотели бы получать, и не забывайте проверять почту. Мы будем рассказывать вам про интересные акции и секретные подарки, которые вы можете получить от MAKEUP.</p>
          <p>Изменить свой email вы всегда можете в личном кабинете.</p>
        </div>
      </div>
      <div>
        <h2>Будьте в тренде,<br> красота - это легко!</h2>
        <div class="column">
          <p>Ваши lookʼи собирают сотни лайков, а вы без запинки рассказываете о трендах этого года. Вы предугадываете тенденции бьюти-мира и хоть сейчас готовы украсить обложку модного глянца. Вы точно знаете, какой оттенок помады будет самым желанным в новом сезоне и смело выбираете его. И это совсем неудивительно, ведь со статьями MAKEUP Beauty Club так легко оставаться в тренде!</p>
          <p><strong>Что вы получаете:</strong> уникальные обзоры горячих новинок, лайфхаки и свежие новости от редакции. Наши статьи помогут вам не только следить за модой, но и следовать ей с невероятной легкостью.</p>
        </div>
        <div class="column">
          <p><strong>Что для этого нужно:</strong> просто оставайтесь с нами и почаще заглядывайте в <a href="/articles/">блог</a>. Мы неустанно тестируем новинки и следим за переменчивым миром моды, чтобы каждую неделю вас ждала новая порция вдохновения!</p>
        </div>
      </div>
      <div><img class="right" style="margin-top: -3vw;" src="/assets/image/4.png" alt="" width="367" height="457">
        <div class="loyalty-wrap">
          <h2>Интерактивный Wish List</h2>
          <p>Путешествуя по страницам makeup.ua, просто невозможно не загореться новой бьюти-мечтой! Поэтому смело пополняйте список своих желаний, а мы будем надежно хранить их для вас. С виш-листом вы всегда будете знать, когда бьюти-фаворит снова появится на сайте, а еще — не пропустите снижение цены на него.</p>
          <p><strong>Что вы получаете:</strong> полезный виш-лист с товарами, которые вы не хотите потерять, а также отслеживаете актуальные цены на них. Мы очень ценим ваше время и заботимся о том, чтобы все ваши мечты становились реальностью!</p>
          <p><strong>Что для этого нужно:</strong> авторизоваться в личном кабинете, используя ваш логин и пароль. Кликнуть на сердечко возле понравившегося товара — он автоматически попадет «В избранное».</p>
        </div>
      </div>
      <div class="align-center">
        <p>Стать участником MAKEUP Beauty club и подписаться на рассылки</p>
      </div>
      <div class="align-center"><a (click)="goToRegister()" class="button">Зарегистрироваться</a></div>
      </div>
  </div>
</div>
